language: php

php:
  - '5.6'
  - '7.0'
  - hhvm

dist: trusty

before_script:
  # Disable xdebug for speed.
  # NB: this should NOT be done for hhvm and php 7.0.
  # Also we use the php 5.6 run to generate code coverage reports, and we need xdebug for that (scrutinizer)
  - if [ "$TRAVIS_PHP_VERSION" != "hhvm" -a "$TRAVIS_PHP_VERSION" != "7.0" -a "$TRAVIS_PHP_VERSION" != "5.6" ]; then phpenv config-rm xdebug.ini; fi
  - curl -s http://getcomposer.org/installer | php
  - php composer.phar install --dev

script: make test
